/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap"); */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #2e2a68 74%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
    background-image: url('https://www.itsec.ru/hubfs/ISR/Github3-2.jpg');
	background-size: cover;
	background-position: center;
}

input {
    background-color: #4c2885;
    border-radius: 10px;
    border: none;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(0, 0, 0, 0.1);
    color: white;
    font-family: inherit;
    font-size: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
    width: 400px;
}
#btn{
    background-color: #4c2885;
    border-radius: 10px;
    border: none;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(0, 0, 0, 0.1);
    color: white;
    font-family: inherit;
    font-size: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
    width: 400px;
}

input::placeholder {
    color: #bbb;
}

input:focus {
    outline: none;
}

.card {
    background-color: black;
 
    
    display: flex;
    padding: 3rem;
    width: 600px;
}

.avatar {
    border: 10px solid black;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    position: relative;
    bottom: 30px;
}

.user-info {
    color: #eee;
    margin-left: 2rem;
}

.user-info h2 {
    margin-top: 0;
}

.user-info ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    max-width: 400px;
}

.user-info ul li {
    display: flex;
    margin-right: 10px;
    align-items: center;
}

.user-info ul li strong {
    font-size: 0.9rem;
    margin-left: 0.5rem;
}

.repo {
    background-color: #2a2a72;
    border-radius: 5px;
    display: inline-block;
    color: white;
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
}


nav {
	background-color: #333;
	height: 50px;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
	height: 100%;
}

nav li {
	margin: 0;
	padding: 0;
}

nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav a:hover {
	background-color: #ddd;
	color: #333;
}

.login-page {
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 50px);
    /* border: 1px solid black; */
    background-color:#454545;
    position: relative;
    right: 300px;

}

.login-box {
	width: 400px;
	background-color: #fff;
	margin: 50px auto;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #ccc;
}

h1 {
	font-size: 24px;
	margin: 0 0 20px 0;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	margin-top: 10px;
	margin-bottom: 5px;
	font-weight: bold;
    color: white;
}

input[type="email"],
input[type="password"],
input[type="text"] {
	padding: 10px;
	border-radius: 3px;
	border: 1px solid #ccc;
	font-size: 16px;
	margin-bottom: 20px;
    color: black;
}

input[type="submit"] {
	background-color: #4CAF50;
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 3px;
	font-size: 16px;
	cursor: pointer;
    margin-top: 30px;
}


input[type="email"],
input[type="password"],
input[type="text"]
{
  display: block;
  margin-bottom: 10px;
  background-color: white;
}


#main{
    position: relative;
    left: 290px;
    bottom: 450px;
    
}